.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
    text-align: left;
  }
  
  .tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
  }
  
  .tab-list-active {
    background-color: white;
    border-bottom: 4px solid green;
    /* border: solid #ccc;
    border-width: 1px 1px 0 1px; */
  }

  .tab-list-item:hover {
    cursor: pointer;
  }